<h1>Questions#ask</h1>
<form action="/answer" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>

